<div class="mdl-grid mdl-grid-proyect-detail">
  <div class="mdl-cell mdl-cell--12-col mdl-cell-proyect-detail">
    <div class="project-image-detail">
      <div><%= cl_image_tag(@video.video_images.last.file_url, :crop => :fill) %></div>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <%= link_to projects_path do %>
      <button class="mdl-button mdl-js-button mdl-button--icon">
         <i class="material-icons">arrow_back</i>
      </button>
    <% end %>
    <h1><%= @video.name %></h1>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--2-col">
    <h3>Colaboradores</h3>
    <span class="mdl-chip">
      <span class="mdl-chip__text"><%= @video.participants %></span>
    </span>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col">
    <p><%= @video.description %></p>
    <div class="video-project-detail">
    </div>
  </div>
</div>
<br><br><br>

<div class="all-project-images-list">
  <div class="project-list">
    <div class="mdl-grid project-list-grid mdl-grid--no-spacing">
      <% @video.video_images.each do |image| %>
        <div class="mdl-cell mdl-cell--4-col list-image">
          <div><%= cl_image_tag(image.file_url, :crop => :fill, :width => 180, :height => 180) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.body.addEventListener('mdl-componentupgraded', function(event) {
     if (event.target.className.split(' ').indexOf('mdl-js-layout') < 0) {
       return
     }

     $('.video-project-detail').append('<iframe class="video-iframe" src="<%= @video.embed_url %>" frameborder="0" allowfullscreen></iframe>')

  })
</script>
