<div class="nuail-be-together-section mdl-typography--text-center">
   <div class="logo-font nuail-slogan"><%= image_tag 'nuail-2.png', class: 'home-page-main-logo' %></div>
   <div class="logo-font nuail-sub-slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim arcu massa, sed finibus purus cursus nec. Quisque condimentum tempus sapien eget condimentum. Phasellus vel erat scelerisque, varius tortor sit amet, tincidunt mauris. Aliquam ullamcorper id mi vitae commodo.</div>
   <%= link_to editorial_service_path do %>
     <button class="home-call-to-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
       Ver más
     </button>
   <% end %>
 </div>

<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <%= video_tag 'Workaholic.mp4', class: 'fillWidth', id: 'landing-video' %>Your browser does not support the video tag. I suggest you upgrade your browser.
    <div class="poster hidden">
      <%= image_tag 'Workaholic.jpg' %>
    </div>
  </div>
</div>



<div class="nuail-screen-section mdl-typography--text-center">
  <div class="mdl-typography--display-1-color-contrast">Nuestros clientes</div>
  <div class="nuail-screens">
    <div class="nuail-tv nuail-screen">
      <a class="nuail-image-link" href="">
        <%= image_tag "bimbo.png", class: 'nuail-screen-image' %>
      </a>
    </div>
    <div class="nuail-tv nuail-screen">
      <a class="nuail-image-link" href="">
        <%= image_tag "banamex.png", class: 'nuail-screen-image' %>
      </a>
    </div>
    <div class="nuail-tv nuail-screen">
      <a class="nuail-image-link" href="">
        <%= image_tag "el-universal.png", class: 'nuail-screen-image' %>
      </a>
    </div>
    <div class="nuail-tv nuail-screen">
      <a class="nuail-image-link" href="">
        <%= image_tag "televisa.png", class: 'nuail-screen-image' %>
      </a>
    </div>
  </div>
</div>


<div class="nuail-screen-section mdl-typography--text-center">
  <div class="mdl-typography--display-1-color-contrast">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  <%= link_to editorial_service_path do %>
    <button class="home-call-to-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Los Servicios que ofrecemos
    </button>
  <% end %>
  <%= link_to projects_path do %>
    <button class="home-call-to-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Nuestros Últimos Proyectos
    </button>
  <% end %>
</div>
