<div class="mdl-grid mdl-grid-proyects">
  <div class="mdl-cell mdl-cell--12-col mdl-cell-proyects">
    <div class="featured-project">
      <% @featured.each do |project| %>
        <% if project.class.name == "Design" %>
          <%= link_to design_detail_path(project) do %>
            <%= cl_image_tag(project.design_images.last.file_url) %>
          <% end %>
        <% elsif project.class.name == "Editorial" %>
          <%= link_to editorial_detail_path(project) do %>
            <%= cl_image_tag(project.editorial_images.last.file_url) %>
          <% end %>
        <% elsif project.class.name == "Photo" %>
          <%= link_to photo_detail_path(project) do %>
            <%= cl_image_tag(project.photo_images.last.file_url) %>
          <% end %>
        <% elsif project.class.name == "Video" %>
          <%= link_to video_detail_path(project) do %>
            <%= cl_image_tag(project.video_images.last.file_url) %>
          <% end %>
        <% end %>
        <div class="project-info-container">
          <div class="project-name">
            <h4><%= project.name %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mdl-grid mdl-grid-proyects">
  <div class="mdl-cell mdl-cell--12-col mdl-cell-proyects">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#all-panel" class="mdl-tabs__tab is-active">All</a>
        <a href="#video-panel" class="mdl-tabs__tab">Video</a>
        <a href="#photo-panel" class="mdl-tabs__tab">Photo</a>
        <a href="#design-panel" class="mdl-tabs__tab">Design</a>
        <a href="#editorial-panel" class="mdl-tabs__tab">Nu-Bundle</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="all-panel">
        <%= render partial: 'project-tabs/all_projects', locals: { designs: @designs, photos: @photos, editorials: @editorials } %>
      </div>
      <div class="mdl-tabs__panel" id="video-panel">
        <%= render partial: 'project-tabs/video_projects', locals: { videos: @videos } %>
      </div>
      <div class="mdl-tabs__panel" id="photo-panel">
        <%= render partial: 'project-tabs/photo_projects', locals: { photos: @photos } %>
      </div>
      <div class="mdl-tabs__panel" id="design-panel">
        <%= render partial: 'project-tabs/design_projects', locals: { designs: @designs } %>
      </div>
      <div class="mdl-tabs__panel" id="editorial-panel">
        <%= render partial: 'project-tabs/editorial_projects', locals: { editorials: @editorials } %>
      </div>
    </div>
  </div>
</div>
