<div class="mdl-grid">

  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h3>Nombre</h3>
    <%= @photo.name %>
    <h3>Descripción</h3>
    <%= @photo.description %>
    <h3>Participantes</h3>
    <%= @photo.participants %>
    <h3>Fotos</h3>
    <% @photo.photo_images.each do |image| %>
      <div><%= cl_image_tag(image.file_url, :crop => :fill, :width => 180, :height => 180) %></div>
    <% end %>

  </div>
  <div class="mdl-layout-spacer"></div>

  <div class="mdl-layout-spacer"></div>
  <%= render "./photo_images/form", { photo_image: PhotoImage.new, photo: @photo } %>
  <div class="mdl-layout-spacer"></div>
</div>
