<div class="mdl-grid">

  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h3>Nombre</h3>
    <%= @editorial.name %>
    <h3>Descripción</h3>
    <%= @editorial.description %>
    <h3>Participantes</h3>
    <%= @editorial.participants %>
    <h3>Fotos</h3>
    <% @editorial.editorial_images.each do |image| %>
      <div><%= cl_image_tag(image.file_url, :crop => :fill, :width => 180, :height => 180) %></div>
      <div>
        <%= link_to "Eliminar", editorial_editorial_image_path(image, @editorial), method: :delete,
            class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent',
            data: { confirm: 'Estas seguro?'} %>
      </div>
    <% end %>

  </div>
  <div class="mdl-layout-spacer"></div>

  <div class="mdl-layout-spacer"></div>
  <%= render "./editorial_images/form", { editorial_image: EditorialImage.new, editorial: @editorial } %>
  <div class="mdl-layout-spacer"></div>
</div>
